<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/aboutus.css">
</head>
<body>
<header>
<div class="logo"><a href="#"><img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/images.png" alt="" class="lgo"></a></div>
<div class="menu">
<a href="#">
<ion-icon name="close" class="close"></ion-icon>
</a>
</div>
<div class="heading">
<ul>
<li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.html" class="under">Home</a></li>
<li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/product.html" class="under">Shop</a></li>
<li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/contactus.html" class="under">Contact Us</a></li>
<li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/aboutus.html" class="under">About Us</a></li>
<li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/login.html" class="under">Login</a></li>
<li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/cart.html" class="under">Cart</a></li>
</ul>
</div>
<div class="heading1">

 
<ion-icon name="menu" class="ham"></ion-icon>
</div>
</header>
<h1>About Us</h1>
<div class="container">
<img src="#" alt="">
<p style="color: #1807b6;">The future of fashion is here. Our team is made 
up of fashion enthusiasts, designers and engineers who are passionate
about creating a wearable and personal product that will change the way 
people buy
We at Closet are on a mission to make fashion more accessible, more 
affordable and more personalized for everyone.
We believe that technology can change the way people buy clothes by 
making it easier for them
to find what they want when they want it, without breaking the 
bank.<br><br>The future of fashion is here!
We use machine learning to make the world smarter, more personalized, 
and more connected.
We are always looking for talented people to join our team.
</p>
</body>
</html>