<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Contact Us </title>
<link rel="stylesheet" href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/contactus.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
<div class="logo"><a href="#"><img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/images.png"
alt="" class="lgo"></a></div>
<div class="menu">
<a href="#">
<ion-icon name="close" class="close"></ion-icon>
</a>
</div>
<div class="heading">
<ul>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.html" class="under">Home</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/product.html" class="under">Shop</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/contactus.html" class="under">Contact Us</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/aboutus.html" class="under">About Us</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/login.html" class="under">Login</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/cart.html" class="under">Cart</a></li>
</ul>
</div>
<div class="heading1">
<ion-icon name="menu" class="ham"></ion-icon>
</div>

 
</header>
<div class="container">
<div class="content">
<div class="left-side">
<div class="address details">
<i class="fas fa-map-marker-alt"></i>
<div class="topic">Address</div>
<div class="text-one">No 143,Kamraj Nagar</div>
<div class="text-two">Bangalore-NH, Hosur-635109.</div>
</div>
<div class="phone details">
<i class="fas fa-phone-alt"></i>
<div class="topic">Phone</div>
<div class="text-one">+91 9876543210</div>
<div class="text-two">+91 1234567890</div>
</div>
<div class="email details">
<i class="fas fa-envelope"></i>
<div class="topic">Email</div>
<div class="text-one">easyshop@gmail.com</div>
<div class="text-two">info.easyshop@gmail.com</div>
</div>
</div>
<div class="right-side">
<div class="topic-text">Send us a message</div>
<p>If you have any issues , you can send me message from here. It's my pleasure to help you.</p>
<form action="#">
<div class="input-box">
<input type="text" placeholder="Enter your name">
</div>
<div class="input-box">
<input type="text" placeholder="Enter your email">
</div>
<div class="input-box message-box">
<textarea placeholder="Enter your message"></textarea>
</div>
<div class="button">
<input type="button" value="Send Now" >
</div>
</form>
</div>
</div>
</div>
</body>
</html>
