<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Easy Shop</title>
<link rel="stylesheet" href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
<script> window.watsonAssistantChatOptions = {
  integrationID: "81cb4742-afac-4237-aa0f-f8a61c3fcf10", // The ID of this integration.
  region: "us-south", // The region your integration is hosted in. 
  serviceInstanceID: "c8301189-3bb5-4060-b740-c925435d1596", // The ID of your service instance.
  onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
  const t=document.createElement('script'); t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";document.head.appendChild(t);
  });
  </script>
</head>
<body>
<header>
    <div class="logo"><a href="#"><img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/images.png"
        alt="" class="lgo"></a>
    </div>
<div class="menu">
<a href="#">
<ion-icon name="close" class="close"></ion-icon>
</a>
</div>
<div class="heading">
<ul>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.html" class="under">Home</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/product.html" class="under">Shop</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/contactus.html" class="under">Contact Us</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/aboutus.html" class="under">About Us</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/login.html" class="under">Login</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/cart.html" class="under">Cart</a></li>
</ul>
</div>
<div class="heading1">
<ion-icon name="menu" class="ham"></ion-icon>
</div>
</header>
<section>
<div class="section">
<div class="section1">
<div class="img-slider">
<img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/IMG-20221120-WA0019.jpg" alt="" class="img">
<img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/IMG-20221120-WA0020.jpg" alt="" class="img">
<img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/IMG-20221120-WA0021.jpg" alt="" class="img">
<img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/IMG-20221120-WA0022.jpg" alt="" class="img">
<img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/IMG-20221120-WA0006-02.jpeg" alt="" class="img">
</div>
</div>
</div>
</section>
<footer>
<div id="footer" class="footer0">
<h1 class="bottom-head ">THE EASY SHOP</h1>
</div>
<div class="footer1 ">
Connect with us <div class="social-media">
<a href="#">
<ion-icon name="logo-twitter"></ion-icon>
</a>
</div>
</div>
<div class="footer2">
<div class="product">
<div class="heading">Products</div>
<div class="div">Advertise</div>
<div class="div">Pricing</div>
<div class="div">Product Buisness</div>
</div>
<div class="services">
<div class="heading">Services</div>
<div class="div">Return</div>
<div class="div">Cash Back</div>
<div class="div">Others</div>
</div>
<div class="Company">
<div class="heading">Company</div>
<div class="div">Complaint</div>
<div class="div">Careers</div>
<div class="div">Support</div>
</div>
<div class="Get Help">
<div class="heading">Get Help</div>
<div class="div">Help Center</div>
<div class="div">Privacy Policy</div>
<div class="div">Terms</div>
</div>
</div>
<div class="footer3">Copyright © <h4>Easy Shop </h4> 2002 </div>
</footer>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/app.js"></script>
</body>

 
</html>