<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Registration</title>
<link rel="stylesheet" href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/register.css">
</head>
<body>
<header>
<div class="logo"><a href="#"><img src="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/images.png"
alt="" class="lgo"></a></div>
<div class="menu">
<a href="#">
<ion-icon name="close" class="close"></ion-icon>
</a>
</div>
<div class="heading">
<ul>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.html" class="under">Home</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/product.html" class="under">Shop</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/contactus.html" class="under">Contact Us</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/aboutus.html" class="under">About Us</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/login.html" class="under">Login</a></li>
    <li><a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/cart.html" class="under">Cart</a></li>
</ul>
</div>
<div class="heading1">
<ion-icon name="menu" class="ham"></ion-icon>
</div>
</header>
<div class="wrapper">
<h2>Registration</h2>

 
<form method ="get" action="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/login.html">
<div class="input-box">
<input type="text" placeholder="Enter name" required>
</div>
<div class="input-box">
<input type="text" placeholder="Enter email" required>
</div>
<div class="input-box">
<input type="password" placeholder="Password" required>
</div>
<div class="policy">
<input type="checkbox">
<h3>I accept all terms & condition</h3>
</div>
<div class="input-box button">
<input type="Submit" value="Register Now">
</div>
<div class="text">
<h3>Have an account? <a href="https://easy-shop-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/login.html">Sign in</a></h3>
</div>
</form>
</div>
</body>
</html>