@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
font-family: 'Poppins',sans-serif;
}
body{
box-sizing: border-box;
text-align: center;
background: linear-gradient(120deg,#c60b0b, #d4cd0e);
margin: 0;
padding: 0;
}
.container{

 
width: 50%;
background: rgb(226, 231, 231);
border-radius: 6px;
padding: 20px 60px 30px 40px;
box-shadow: 0 5px 10px rgba(16, 16, 16, 0.2);
}
.container .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.container .content .left-side{
width: 25%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 15px;
position: relative;
}
h1{
font-size: 2em;
color: #000000;
}
p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;
line-height: 1.5;
font-weight: bold;
font-size: 23px;
font-weight: 600;
color: #3e2093;
}
.container{
width: 60%;
margin: 0 auto;
}
h5{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
font-weight: bold;
font-size: 23px;

 
font-weight: 600;
color: #070708;
}
.credit{
margin-top: 20%;
color: rgb(0, 0, 0);
text-align: center;
}
.cret{
text-align: center;
}
header {
display: flex;
justify-content: space-evenly;
align-items: center;
height: 80px;
width: 100%;
background: #242F9B;
}
.heading ul {
display: flex;
float: right;
}
.lgo{
height: 70px;
}
.logo a {
color: white;
transition-duration: 1s;
font-weight: 800;
}
.logo a:hover {
color: #DBDFFD;
transition-duration: 1s;
}
.heading ul li {
list-style: none;
}
.heading ul li a {
margin: 5px;
text-decoration: none;
color: black;
font-weight: 500;

 
position: relative;
color: white;
margin: 2px 14px;
font-size: 18px;
transition-duration: 1s;
}
.heading ul li a:active {
color: red;
}
.heading ul li a:hover {
color: #DBDFFD;
transition-duration: 1s;
}
.heading ul li a::before {
content: "";
height: 2px;
width: 0px;
position: absolute;
left: 0;
bottom: 0;
background-color: white;
transition-duration: 1s;
}
.heading ul li a:hover::before {
width: 100%;
transition-duration: 1s;
background-color: #DBDFFD;
}
.logo a {
color: white;
font-size: 35px;
font-weight: 500;
text-decoration: none;
}
.logo a {
color: white;
font-size: 35px;
font-weight: 500;
text-decoration: none;
}
ion-icon {
width: 30px;
height: 30px;
background-color: white;

 
color: black;
}
ion-icon:hover {
cursor: pointer;
}
header a ion-icon {
position: relative;
right: 3px;
}
